@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass {
        @apply bg-white bg-opacity-10 backdrop-blur-lg border border-white border-opacity-20 shadow-lg;
    }
}
